{% extends "base.html" %}

{% block content %}
<!-- Content section-->
<div class="large-font-container">
    <h2 class="text-center large-font" id="uncharted-up">Uncharted Waters</h2>
    <h2 class="text-center large-font reflection" id="uncharted-down">Uncharted Waters</h2>
</div>
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            {% for post in post_list_votes %}
            <div class="col-md-3">
                <div class="card mb-3 shadow post-container">
                    <a href="{% url 'post_detail' post.slug  %}" class="content-link">
                        <div class="card-body text-center">
                            <p class="content">{{ post.content }}</p>
                            <p class="author">{{ post.author }}, {{ post.created_on }}</p>
                            <p> {{ post.number_of_votes }}
                                <i class="fa-regular fa-thumbs-up"></i>
                                <i class="fa-regular fa-comments"></i> {{ post.comments.count }}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" id="waves-image">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<div class="large-font-container">
    <h2 class="text-center large-font" id="uncharted-up">Here Be Monsters...</h2>
    <h2 class="text-center large-font reflection" id="uncharted-down">Here Be Monsters...</h2>
</div>
<section class="py-5" id="block-2">
    <div class="container my-5">
        <div class="row justify-content-center">
            {% for post in post_list_date %}
            <div class="col-md-3">
                <div class="card mb-3 shadow post-container">
                    <a href="{% url 'post_detail' post.slug  %}" class="content-link">
                        <div class="card-body text-center">
                            <p class="content">{{ post.content }}</p>
                            <p class="author">{{ post.author }}, {{ post.created_on }}</p>
                            <p> {{ post.number_of_votes }}
                                <i class="fa-regular fa-thumbs-up"></i>
                                <i class="fa-regular fa-comments"></i> {{ post.comments.count }}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{%endblock%}