{% extends "base.html" %}

{% block content %}
<!-- Content section-->
<div class="large-font-container">
    <h2 class="text-center large-font" id="uncharted-up">Uncharted Waters</h2>
    <h2 class="text-center large-font reflection" id="uncharted-down">Uncharted Waters</h2>
</div>
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            {% for post in post_list %}
            <div class="col-md-3">
                <a href="{% url 'post_detail' post.slug  %}" class="content-link">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <p class="content">{{ post.content | safe }}</p>
                            <p class="author">{{ post.author }}, {{ post.created_on }}</p>
                            <p class="votes">{{ post.number_of_votes }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<div class="large-font-container">
    <h2 class="text-center large-font" id="uncharted-up">Here Be Monsters...</h2>
    <h2 class="text-center large-font reflection" id="uncharted-down">Here Be Monsters...</h2>
</div>
<section class="py-5" id="block-2">
    <div class="container my-5">
        <div class="row justify-content-center">
            {% for post in post_list %}
            <div class="col-md-3">
                <a href="{% url 'post_detail' post.slug  %}" class="content-link">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <p class="content">{{ post.content | safe }}</p>
                            <p class="author">{{ post.author }}, {{ post.created_on }}</p>
                            <p class="votes">{{ post.number_of_votes }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{%endblock%}